@charset "utf-8";
/*公用样式111*/
/*基础颜色*/
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  font-family: "微软雅黑", "microsoft yahei", Arial, sans-serif;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
/* HTML5 媒体文件跟 img 保持一致 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* 要注意表单元素并不继承父级 font 的问题 */
button,
input,
select,
textarea {
  font: 500 14px/1.8 "微软雅黑", "microsoft yahei", Arial, sans-serif;
}
/* IE6 Button 宽度自适应 */
button,
input {
  *width: auto;
  *overflow: visible;
}
/* 去掉各Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit;
}
/* 去除默认边框 */
fieldset,
img {
  border: 0;
}
/* 解决 IE6-7 图片缩放锯齿问题 */
img {
  -ms-interpolation-mode: bicubic;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block;
}
blockquote blockquote {
  padding: 0 0 0 1em;
  margin-left: 2em;
  border-left: 0.4em solid #ddd;
}
/* Firefox 以外，元素没有下划线，需添加 */
acronym,
abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
}
/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr {
  cursor: help;
}
/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 400;
}
/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul,
ol {
  list-style: none;
}
i {
  font-style: normal;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}
q:before,
q:after {
  content: '';
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
  text-decoration: underline;
}
/* 默认不显示下划线，保持页面简洁 */
ins,
a {
  text-decoration: none;
  color: #333;
}
u,
.typo-u {
  text-decoration: underline;
}
/* 标记，类似于手写的荧光笔的作用 */
mark {
  background: #fffdd1;
}
/* 代码片断 */
pre,
code {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre {
  border: 1px solid #ddd;
  border-left-width: 0.4em;
  background: #fbfbfb;
  padding: 10px;
}
/* 底部印刷体、版本等标记 */
small {
  font-size: 12px;
  color: #888;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clear {
  display: block;
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-weight: 800 \9;
  color: #333;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
  outline: none;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="input"] {
  -webkit-appearance: none;
}
select {
  -webkit-appearance: none !important;
  border-radius: 0;
  -webkit-appearance: menulist;
  -webkit-box-sizing: border-box;
  -webkit-box-align: center;
  border: 1px solid;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: white;
  cursor: default;
}
body {
  font-size: 12px;
  color: #666;
}
.wrap {
  background: #fff;
}
.content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.content img {
  vertical-align: top;
  width: 100%;
}
.mobile {
  display: none;
}
.apply {
  font-size: 14px;
  padding-top: 25px;
  color: #040000;
}
.form-left {
  float: left;
  max-width: 500px;
  margin-bottom: 25px;
  padding-left: 120px;
  box-sizing: border-box;
}
.form-right {
  float: left;
  max-width: 500px;
  margin-bottom: 25px;
  padding-left: 53px;
  box-sizing: border-box;
}
.tel {
  max-width: 343px;
}
.apply-btn,
.bbs-btn {
  max-width: 163px;
  width: 40%;
  display: inline-block;
}
.apply-btn {
  margin-right: 5%;
}
.btns {
  margin-bottom: 5%;
}
.apply label {
  font-size: 20px;
}
.apply p {
  margin-top: 15px;
  color: #9c1e21;
  font-size: 18px;
}
.apply .input-text {
  margin-top: 15px;
}
.apply input {
  width: 283px;
  border: 1px solid #a7b6c4;
  background: #f3f9fc;
  height: 33px;
  line-height: 33px;
  margin-left: 5px;
  border-radius: 3px;
}
h3 {
  font-size: 26px;
}
h3 span {
  color: #ae1f23;
  display: inline-block;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  h3 {
    font-size: 16px;
  }
  h3 span {
    color: #ae1f23;
    display: inline-block;
    margin: 0 10px;
  }
  .apply label {
    font-size: 14px;
  }
  .apply p {
    margin-top: 15px;
    color: #9c1e21;
    font-size: 14px;
  }
  .apply input {
    max-width: 283px;
    width: 70%;
    border: 1px solid #a7b6c4;
    background: #f3f9fc;
    height: 33px;
    line-height: 33px;
    margin-left: 5px;
    border-radius: 3px;
  }
  .form-left,
  .form-right {
    padding-left: 20px;
  }
}
.acd-menu-l {
  border-top: 1px solid #ececec;
  background-color: #fff;
}
.acd-menu-l .item {
  font-size: 14px;
  line-height: 36px;
  display: block;
  height: 36px;
  padding: 0 10px;
  color: #646464;
  border-bottom: 1px solid #ececec;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
[class^="ico-"],
[class*=" ico-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url('images/ico.png');
  background-position: -250px 0;
  background-repeat: no-repeat;
  background-size: 16px;
}
.ico-time-grey {
  background-image: url('../fimage/ico-time-grey.png');
  background-position: 0 0;
  background-size: 16px;
}
.ico-phone {
  background-image: url('../fimage/ico-phone.png');
  background-position: 0 0;
  background-size: 16px;
}
.ico-map-grey {
  background-image: url('../fimage/ico-map-grey.png');
  background-position: 0 0;
  background-size: 16px;
}
.bm {
  border: solid 10px #f5f5f5 ;
  border-left: none;
  border-right: none;
}
